<div id="dashboard">
	<h3><%= current_user.name %>'s Galleries</h3>
	<% if current_user.galleries.any? %>

	<div class="row">
		<div class="flex-images">
			<% current_user.galleries.each do |gallery| %>
			<ul class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				<li><h4><%=link_to gallery.title, gallery %></h4></li>
				<li><div class="item floating-box"><%= link_to attachment_image_tag(gallery.categories_images.first, :file), gallery %></div></li>
			</ul>
			<% end %>
		</div>
	</div>
	<% end %>

</div>
