<div class="row">
	<div class="flex-images">
		<% @gallery_images.each do |image| %>
		<div class="item floating-box"><%= link_to attachment_image_tag(image, :file), image %></div>
		<% end %>
	</div>
</div><br>

<div class="category">
	<% if @gallery.categories.any? %>
		<p>Categories: <%= render @gallery.categories %>
		</p>
	<% end %>
</div>
