// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jasny-bootstrap";
@import "images";
@import "home";
@import "sessions";
@import "dashboard";
@import "jquery.flex-images";
@import "categories";
@import "header";

/* Universal Styling */
li {
	list-style-type: none;
}
div.container-fluid.layout {
	padding-top: 50px;
}
div.image_container {
	padding-left: 20px;
}
/* User-Form */
div.user-edit {
	padding-left: 20px;
}
* {
	background-color: #fff;
}

body {
	margin   : 0;
	padding  : 0;
	border   : 0;
	min-width: 320px;
	display  : block;
}
.pure-g [class *= "pure-u"],
button,
html,
input,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size  : 1.02em;
}
p,
td {
	line-height: 1.5;
}

span.badge {
	background-color: black;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
/* Category Check boxes */
label.checkbox-inline.input_checkbox {
	padding-left: 20px;
	width: auto !important;
	font-weight: bold;
}

div.form-group {
	margin-left: 20px;
}
