// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "jasny-bootstrap";
@import "jquery.flex-images";
@import "jquery-ui";
@import 'jquery-ui.structure';
@import 'jquery-ui.theme';
@import 'chosen-compass';
@import "images";
@import "home";
@import "sessions";
@import "dashboard";
@import "categories";
@import "header";
@import 'gallery';

$btn-default-bg: #9B111E;
$btn-default-color: white;
$btn-default-border: black;

.content {
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
}

/* Universal Styling */
li {
	list-style-type: none;
}
div.container-fluid.layout {
	padding-top: 50px;
}
div.image_container {
	padding-left: 20px;
}
/* User-Form */
div.user-edit {
	padding-left: 20px;
}
* {
	background-color: white;
}
/*
span.badge {
	background-color: black;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
*/
/* Category Check boxes */
label.checkbox-inline.input_checkbox {
	padding-left: 30px;
	width: auto !important;
	font-weight: bold;
}

div.form-group {
	margin-left: 20px;
}
