body#categories.index {
	margin-bottom: 60px;
	position: relative;
	min-height: 100%;

	#categories {
		padding-left: 15px;
	}
	.edit {
		float: right;
		padding-right: 10px;
	}
	.delete {
		float: right;
		padding-right:10px;
	}
	#category-form {
		padding-bottom:15px;
	}
	li.list-group-item.list-group-item-info {
		margin-bottom: 5px;
		/*color:
		background-color:*/
	}
	button.btn.btn-default {
		margin-bottom: 10px;
	}
	span {
		background-color: transparent;
	}
}
