#gallery-index,
#gallery-show {
	div.row {
		height  : 300px;
		overflow: auto;
	}
	.floating-box {
		display: inline-block;
		width  : 250px;
		height : 75px;
		margin : 10px;
		border : 3px solid #73AD21;
	}
	img:hover {
		-moz-box-shadow   : 0 0 10px #340303;
		-webkit-box-shadow: 0 0 10px #340303;
		box-shadow        : 0 0 10px #340303;
	}
}
