// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* HomePage */
body#staticpages #home {
	.container-fluid {
		padding-left : 0;
		padding-right: 0;
		div.forms {
			top            : 5%;
			left           : 50%;
			margin-left    : -150px;
			display        : flex;
			justify-content: center;
			flex-direction : column;
			padding        : 20px;
			border-radius  : 2px 2px 5px 5px;
			padding        : 10px 20px;
			width          : 320px;
			max-width      : 320px;
			background     : #ffffff;
			border-top     : 20px;
			position       : absolute;
			padding-bottom : 20px;
			box-shadow     : 0 1px 5px rgba(0,0,0,0.3);
			z-index        : 99999;
		}
		.active-form {
			visibility: visible;
			display   : block;
			z-index   : 2000;
		}
		.inactive-form {
			visibility: hidden;
			display   : none;
		}
		#login {
			input#session_password.form-control {
				margin-bottom: 10px;
			}
			input.btn.btn-primary {
				margin-left  : 10px;
				margin-bottom: 10px;
			}
			.checkbox {
				padding-top: 0;
				margin-left: 20px;
			}
			span {
				padding-top: 0;
			}
			.button {
				margin-bottom: 10px;
			}
		}
		.full-screen {
			background-size    : cover;
			background-position: center center;
			background-repeat  : no-repeat;
		}
		.carousel-inner {
			position: relative;
			width   : 100%;
			overflow: hidden;
		}
		div.container-fluid {
			padding: 0;
		}
		img {
			min-height: 100%;
			min-width : 100%;
			position  : fixed;
			top       : 0;
			left      : 0;
			position  : fixed;
			top       : 0;
			left      : 0;
		}
		div.home {
			h3 {
				display: none;
			}
		}
		/*
	h3 {
	display: inline-block;
	padding: 10px;
	background: #B9121B;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	}
	*/
	}
}
