// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-sessions {
	padding-left: 50px;
	padding-right: 50px;
	span {
		margin-top: 10px;
		padding-top: 10px;
	}
	a {
		font-size: 10px;
	}
	input#session_remember_me {

		margin-left: 15px;
		margin-right: 15px;
	}
}
