<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-3 col-md-offset-4">
		<h2>Categories</h2>
	</div>
	<div class="row">
		<ul class="col-md-7 col-md-offset-2" id="categories-list"><%= render @categories %></ul>
	</div>
	<div class="col-md-2 col-md-offset-4">
		<%= link_to new_user_category_path, remote: true do %>
		<button class="btn btn-default">New Category</button><br>
		<% end %>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-2" id="category-form" style="display:none;"></div>
	</div>
</div>
