<%= form_for([current_user, @image]) do |f| %>
	<div class="field">
			<%= f.label :file %><br>
			<%= f.attachment_field :file %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>


<%# Delete %>
<%# Need to remove "remove_file" not needed here, just delete %>

<%# Add %>
<%# Ability to narrow scope i.e. all images vs. only images not in gallery/album etc.. %>
