<p id="notice"><%= notice %></p>

<%= image_tag attachment_url(@image, :file, :fill, 100, 100, format: "jpg") %><br>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
